<section class="home" id="home">

   <video autoplay muted loop playsinline class="background-video">
    <source src="assets/main.mp4" type="video/mp4" />
  </video>

  <!-- Overlay (optional for dimming/opacity effect) -->
  <div class="video-overlay"></div>
  <div class="home-content">
    <h1>Hy I'm <span>Sadique Shafi</span></h1>
    <div class="text-animate">
      <h3>MEAN Stack Developer</h3>
    </div>
     <div class="home-sic">
    <a href="https://m.facebook.com/profile.php?id=100007022684734&name=xhp_nt__fb__action__open_user"><i class="bx bxl-facebook"></i></a>
    <a href="https://www.linkedin.com/in/md-sadique-shafi-058672154/"><i class="bx bxl-linkedin"></i></a>
    <a href="https://www.instagram.com/1234sadique1234/"><i class="bx bxl-instagram"></i></a>
  </div>
    <p style="font-family: 'Poppins',sans-serif;">
      Hello, I’m Sadique Shafi, a passionate and skilled MEAN Stack Developer
      with extensive experience in creating dynamic and high-performance web
      applications.MEAN Stack Developer with 4 years of experience in Angular and 2 years in Node.js and
    MongoDB. Adept at developing
    scalable web applications with
    secure authentication systems,
    modular frontends, and robust
    backend APIs. Passionate about
    building clean user interfaces
    and delivering seamless user
    experiences.
    </p>
    <div class="skill-icon">
      <img src="assets/angular_pride.png">
      <img src="assets/nodejs.png">
      <img src="assets/mongodb.png">
      <img src="assets/bootstrap.png">
      <img src="assets/visual-studio-code-logo.svg">


    </div>
    <div class="visit-us">
      <div class="btn-box">
        <a class="btn" (click)="goToProjects()">View Projects</a>
      </div>
      <div class="btn-box">
        <a class="btn"  (click)="contactUs()">Get In Tuch</a>
      </div>
            <div class="btn-box">
        <a href="assets/resume-sadique.pdf" download class="btn">Resume</a>
      </div>
    </div>
    
  </div>
  
  <!-- <div class="home-imgHover">
    <div class="card">
      <div class="slider-container">
        <div
        class="slider-item"
        *ngFor="let project of projects; let i = index"
        [class.active]="i === currentIndex"
        >
        <img [src]="project.imageSrc" alt="{{ project.title }}" />
        <p>{{ project.title }}</p>
      </div>
    </div>
    
    <button class="slider-btn prev-btn" (click)="prevImage()">❮</button>
      <button class="slider-btn next-btn" (click)="nextImage()">❯</button>
      
      <div class="slider-dots">
        <span
        *ngFor="let project of projects; let i = index"
        class="dot"
        [class.active]="i === currentIndex"
        (click)="goToImage(i)"
        ></span>
      </div>
    </div>
  </div> -->
</section>
<!-- <div class="contributed">
  <h5 style="size: 20px;font-family: 'poppins',sans-serif;color:white">Contributed At</h5>
  <div class="contributed-img">
    <img src="assets/miraigate.png">
    <img src="assets/mavyah.png">
    <img src="assets/codeup.png">
    <img src="assets/navsoft.png">
    <img src="assets/oltech.png">

  </div>
</div> -->