<section class="skills" id="skills">
  <h2 class="heading">Skills & <span>Expertise</span></h2>

  <div class="skills-container">
    <div class="skills-category">
      <h3>Frontend Development</h3>
      <div class="skills-icons">
        <div class="skill-item">
          <img src="assets/angular_pride.png" alt="Java">
          <p>Angular 8 to 19</p>
        </div>
        <div class="skill-item">
          <img src="assets/bootstrap.png" alt="SQL">
          <p>Bootstrap</p>
        </div>
        <div class="skill-item">
          <img src="assets/html.png" alt="SQL">
          <p>HTML</p>
        </div>
        <div class="skill-item">
          <img src="assets/material.png" alt="SQL">
          <p>Angular Material</p>
        </div>
        <div class="skill-item">
          <img src="assets/wordpress.png" alt="SQL">
          <p>Wordpress</p>
        </div>
        <div class="skill-item">
          <img src="assets/cs.png" alt="SQL">
          <p>css</p>
        </div>
      </div>
    </div>
    
    <!-- Backend Development -->
    <div class="skills-category">
      <h3>Backend Development</h3>
      <div class="skills-icons">
        <div class="skill-item">
          <img src="assets/nodejs.jpg" alt="Java">
          <p>MongoDb</p>
        </div>
        <div class="skill-item">
          <img src="assets/sql.png" alt="SQL">
          <p>SQL</p>
        </div>
      </div>
    </div>

    <!-- DevOps & Cloud -->
    <div class="skills-category">
      <h3>DevOps & Cloud</h3>
      <div class="skills-icons">
        <div class="skill-item"><img src="assets/netlify.png"><p>Netlify</p></div>
        <div class="skill-item"><img src="assets/firebase.png"><p>Firebase</p></div>
        <div class="skill-item"><img src="assets/Cloudflare.png"><p>cloudflare</p></div>
        <div class="skill-item"><img src="assets/ubuntu1.webp"><p>Ubuntu</p></div>
        <div class="skill-item"><img src="assets/git.png"><p>GitHub Actions</p></div>
      </div>
    </div>

    <!-- Databases -->
    <div class="skills-category">
      <h3>Databases</h3>
      <div class="skills-icons">
        <div class="skill-item">
          <img src="assets/mongodb.png" alt="Java">
          <p>MongoDb</p>
        </div>
        <div class="skill-item">
          <img src="assets/sql.png" alt="SQL">
          <p>SQL</p>
        </div>
      </div>
    </div>

    <!-- Tools -->
    <div class="skills-category">
      <h3>Tools & Others</h3>
      <div class="skills-icons">
        <div class="skill-item"><img src="assets/git.png"><p>Git</p></div>
        <div class="skill-item"><img src="assets/vscode.png"><p>VS Code</p></div>
        <div class="skill-item"><img src="assets/postman.png"><p>Postman</p></div>
      </div>
    </div>

  </div>
</section>
