<section class="about" id="about">
    <h2 class="heading"> About <span>Me</span></h2>

    <div class="about-header">
        <div class="about-left">
            <div class="about-img">
                <img src="/assets/sadique.jpeg" alt="">
                <span class="circle-spin"></span>
            </div>
            <div class="about-content">
                <h3>MEAN Stack Developer!</h3>
            </div>
        </div>
        <div class="about-right">
            <div class="about-content">
                <p>
                    Hello, I’m Sadique Shafi from Katihar, Bihar. I hold a B.Tech degree, completed in 2018, and bring over 
                    <strong>4 years of experience in Angular Development</strong> along with <strong>2 years of expertise in MEAN Stack Development</strong>. 
                    My journey has been marked by the successful delivery of more than 10 Angular projects and 2 full-stack MEAN projects.
                </p>
                <p>
                    I have developed impactful applications like the <strong>Power Panel WebApp</strong> and an <strong>Admin Panel</strong> with role-based 
                    authentication and authorization. My Angular journey began in 2019 with a professional certification, and since then, I have continuously
                    honed my skills.
                </p>
                <!-- <p>
                    After starting my career as an intern at Papa-fit, where I worked on the Fuse template, I advanced to Mavyah Technologies Pvt. Ltd. as 
                    a full-time developer. The challenges of the lockdown period led me to upskill further, mastering <strong>Node.js</strong> and <strong>MongoDB</strong> through Udemy. 
                    This effort helped me secure a role at CODEUP PVT LTD as a MEAN Stack Developer, where I contributed to lead generation projects with CRUD functionality.
                </p>
                <p>
                    Later, I joined NAVSOFT PVT LTD as an Angular Developer, building a complex travel application using <strong>Angular Material</strong> 
                    and the Elastic Search API. Currently, I’m a part of Miraigate Technology, where I have contributed to numerous projects like 
                    <strong>Admin-Panel</strong>, <strong>Power-Panel</strong>, <strong>Game-Panel</strong>, and <strong>Probobet</strong>, demonstrating 
                    my expertise in Angular and front-end development.
                </p>
                <p>
                    My journey reflects my passion for development, resilience during challenges, and dedication to creating high-performance applications.
                </p> -->
                <div class="btn-box btns">
                    <a href="#" class="btn">Read More</a>
                </div>
        </div>
        
       
    </div>
    
    <!-- <div class="about-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, neque. Perspiciatis vero doloribus natus corrupti velit nihil tempora similique repudiandae alias quia et laborum in, ullam atque fugit ipsum quod.</p>
        <div class="btn-box btns">
            <a href="#" class="btn">Read More</a>
        </div>
    </div> -->
</div>
</section>