<div class="background-effect">
  <app-header></app-header>
  <section id="home">
    <app-body></app-body>
  </section>
  <section id="about-us">
    <app-aboutus></app-aboutus>
  </section>
  <section id="experience">
    <app-education-experience></app-education-experience>
  </section>
    <section id="project">
    <app-projects></app-projects>
  </section>
  <section id="skill">
    <app-skill></app-skill>
  </section>

  <section id="contact-us">
    <app-contact-us></app-contact-us>
  </section>
  <app-footer></app-footer>
</div>